* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content :center;
    background: #000000;
    color : rgb(0, 0, 0);
    
}
h1 {
    padding-bottom: 100px;
    font-size : 100px;
    -webkit-text-stroke: calc(200vw / 1018) rgb(68, 255, 0);
    
}


div {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
div .ring {
    position: absolute;
    width: 200px;
    height: 60px;
    border-radius: 50%;
    border: 6px solid #26ff00;
    box-shadow: 0 0 15px #052207,
        3px 3px 5px #3d393964,
        inset 4px 2px 10px #002c0a;
}

div .ring:nth-child(1) {
    transform : rotate(0deg);
    animation: 10s animate1 infinite;
    animation-delay: 0s;
}

div .ring:nth-child(2) {
    transform: rotate(45deg);
    animation: 10s animate2 infinite;
    animation-delay: 0.2s;
}

div .ring:nth-child(3) {
    transform: rotate(90deg);
    animation: 10s animate3 infinite;
    animation-delay: 0.4s;
}
div .ring:nth-child(4) {
    transform: rotate(135deg);
    animation: 10s animate4 infinite;
    animation-delay: 0.6s;
}

 @keyframes animate1 {
    50%  {
        transform: rotate(180deg);
    }
 }
 
 @keyframes animate2 {
    50% {
        transform: rotate(180deg);
      
    }
 }
 

  @keyframes animate3 {
    50% {
        transform: rotate(180deg);
    }
 }
 

 @keyframes animate4 {
    50% {
        transform: rotate(180deg);
    }
}

 div .circle {
    width: 20px;
    height: 20px;
    background: #000000;
    border-radius: 50%;
    box-shadow: inset 0 0 10px #ffffff;
 }
